SECRET_KEY=secret-key
DJANGO_SETTINGS_MODULE=config.settings.local

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000


STATIC_ROOT=static/

ADMIN_AUTH_PATH=admin

DB_NAME=b2b-supply-core
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

S3_KEY_ID=minioadmin
S3_SECRET=minioadmin
S3_BUCKET_NAME=b2b-supply-core
S3_ENDPOINT_URL=http://127.0.0.1:9000
S3_USE_SSL=False
S3_VERIFY=False